html {
  background: url(metalframe5.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: cover;
  }
h1{
     font-family: 'Londrina Shadow', cursive;
     font-size: 60px;
     margin:-10px 0 -20px 0;
}
h2{
     font-family: 'Londrina Shadow', cursive;
     font-size: 40px;
     margin:-10px 0 -20px 0;
     color: #cccccc;
}
body {
     color: black;
     font-family: tahoma;
     font-size: 18px;
     margin: 0 auto;
     }
#headers{
          text-align:center;
     }
     img{
     margin: 20px 0 0 0;
     border-radius: 10px;
     border: 5px solid #cccccc; /*or, border-style, border-width and border-color */
     }
     ul {
          padding: 10px;
          background: rgba(0,0,0,0.8);
          color: white;
          }
     li {
          display: inline;
     }
     a {
          color: yellow;
     }
  li a:hover {
    background-color: yellow;
    color: black;
}
     
#content{}
     article{
          text-align: center;
          background-color: rgba(91,91,91,0.9);
          max-width: 860px;
          padding: 10px;
          margin: 0 auto;
          color: white;
     }
